<main class="col-4 ml-auto mr-auto text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Edit Game - {{{title}}}</h1></div>
                <br />

                <div style="display: {{{errorDisplay}}}" class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{{error}}}
                </div>

                <form method="post">
                    <div class="form-group row">
                        <label class="form-control-label">Title</label>
                        <input type="text" name="Title" pattern="[A-Z].{3,100}" class="form-control" required value="{{{title}}}" />
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Description</label>
                        <textarea type="text" name="Description" class="form-control" required minlength="20">{{{description}}}</textarea>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Thumbnail</label>
                        <input type="url" name="ThumbnailUrl" class="form-control" value="{{{thumbnailUrl}}}" />
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Price</label>
                        <div class="input-group">
                            <input type="number" name="Price" step="0.01" min="0" class="form-control" required value="{{{price}}}" />
                            <span class="input-group-addon">&euro;</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Size</label>
                        <div class="input-group">
                            <input type="number" name="Size" step="0.1" min="0" class="form-control" required value="{{{size}}}" />
                            <span class="input-group-addon">GB</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">YouTube Video URL</label>
                        <div class="input-group">
                            <span class="input-group-addon">https://www.youtube.com/watch?v=</span>
                            <input type="text" name="VideoId" class="form-control" minlength="11" maxlength="11" required value="{{{videoId}}}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Release Date</label>
                        <input type="date" name="ReleaseDate" class="form-control" required value="{{{releaseDate}}}" />
                    </div>

                    <input type="submit" class="btn btn-outline-warning btn-lg btn-block" value="Edit Game" />
                </form>
                <br />
            </div>
        </div>
    </div>
</main>