@model CategoryDetailsServiceModel

@{
    ViewData["Title"] = $"{Model.Name} - {Model.Subcategories.Count()} Subcategories";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2>@ViewData["Title"]</h2>
        <br />

        <div>
            <a class="btn btn-default" asp-area="" asp-controller="Categories" asp-action="Index">Back To All Categories</a>
        </div>
        <br />

        @foreach (var subcategory in Model.Subcategories)
        {
            <div class="text-center">
                <h1><a asp-area="" asp-controller="Subcategories" asp-action="Details" asp-route-id="@subcategory.Id" asp-route-name="@subcategory.Name">@subcategory.Name</a></h1>
            </div>
        }
    </div>
</div>