@model SupplementFormViewModel

<div class="form-text text-danger" asp-validation-summary="ModelOnly"></div>
<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="form-text text-danger" asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description" rows="5"></textarea>
    <span class="form-text text-danger" asp-validation-for="Description"></span>
</div>
<div class="form-group">
    <label asp-for="Quantity"></label>
    <input class="form-control" asp-for="Quantity" />
    <span class="form-text text-danger" asp-validation-for="Quantity"></span>
</div>
<div class="form-group">
    <label asp-for="Price"></label>
    <input class="form-control" asp-for="Price" />
    <span class="form-text text-danger" asp-validation-for="Price"></span>
</div>
<div class="form-group">
    <label asp-for="BestBeforeDate"></label>
    <input class="form-control" asp-for="BestBeforeDate" />
    <span class="form-text text-danger" asp-validation-for="BestBeforeDate"></span>
</div>
<div class="form-group">
    <label asp-for="SubcategoryId"></label>
    <select class="form-control" asp-for="SubcategoryId" asp-items="Model.Subcategories"></select>
    <span class="form-text text-danger" asp-validation-for="SubcategoryId"></span>
</div>
<div class="form-group">
    <label asp-for="ManufacturerId"></label>
    <select class="form-control" asp-for="ManufacturerId" asp-items="Model.Manufacturers"></select>
    <span class="form-text text-danger" asp-validation-for="ManufacturerId"></span>
</div>
<div class="form-group">
    <label asp-for="Picture"></label>
    <input asp-for="Picture" />
    <span class="form-text text-danger" asp-validation-for="Picture"></span>
</div>