@model SupplementFormViewModel

@{
    ViewData["Title"] = "Create Supplement";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">

        <div class="text-center">
            <h2>@ViewData["Title"]</h2>
            <br />
        </div>

        <form asp-area="Manager" asp-controller="Supplements" asp-action="FinishCreate" method="post" enctype="multipart/form-data">

            @await Html.PartialAsync("_SupplementForm", Model)

            <div class="text-center">
                <a asp-area="Manager" asp-controller="Supplements" asp-action="Index" class="btn btn-default">Back</a>
                <input type="hidden" name="categoryId" value="@ViewData["CategoryId"]" />
                <input class="btn btn-success" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}