@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="text-center">
                <div>
                    <h1>Welcome to the Car Dealer!</h1>
                </div>

                <div class="home-text">
                    <a class="btn btn-default btn-lg" href="/customers/all/ascending">Customers</a>
                    <a class="btn btn-default btn-lg" href="/suppliers/all">Suppliers</a>
                    <a class="btn btn-default btn-lg" href="/sales/all">Sales</a>
                    <a class="btn btn-default btn-lg" href="/cars/all">Cars</a>
                    <a class="btn btn-default btn-lg" href="/parts/all">Parts</a>
                    <a class="btn btn-default btn-lg" href="/logs/all">Logs</a>
                </div>

                <br />
                <br />

                <div>
                    <img src="~/images/parts.jpg" alt="car-dealer-photo" width="1000" height="400" />
                </div>
            </div>
        </div>
    </div>
</div>