@{
    ViewData["Title"] = "500 - Internal Server Error";
}

<br />

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <br />

    <h4>Sorry, an error occurred while executing your request. Please try again later.</h4>
</div>