@{
    ViewData["Title"] = "404 - Page Not Found";
}

<br />

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <br />

    <h4>The page you are looking for does not exist. Please check the URL.</h4>
</div>