@model int
@{
    ViewData["Title"] = "Delete Part";
}
<h2>Are you sure you want to delete this part?</h2>

<br />

<a class="btn btn-default" href="/parts/all">Back to All Parts</a>
<a class="btn btn-danger" href="/parts/confirm/@Model">Delete Part</a>