@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <hr />

        <p class="text-info text-center">
            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        </p>
        <p class="text-info text-center">
            Please enter an email address for this site below and your birth date then click the <strong>Register</strong> button to finish logging in.
        </p>
        <p class="text-info text-center">
            You can also enter your full name phone number and address.
        </p>

        <br />

        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}