@model SupplierFormModel
@{
    ViewData["Title"] = "Edit Supplier";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2>@ViewData["Title"]</h2>
        <a href="/suppliers/all" class="btn btn-default">Back to All Suppliers</a>

        <br />
        <br />

        @Html.Partial("_SupplierForm", Model)
    </div>
</div>