@model SuppliersViewModel

@{
    ViewData["Title"] = $"{Model.Type} Suppliers";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Parts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Suppliers)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Name</td>
                <td>@car.TotalParts</td>
            </tr>
        }
    </tbody>
</table>