body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a.disabled {
    pointer-events: none;
}

.camera-list-table-image-box {
    width: 300px;
}

.camera-list-image {
    width: 200px;
    height: 200px;
}

.camera-details-table-headings-box th {
    width: 300px;
}

.camera-details-image {
    width: 375px;
    height: 300px;
    margin-top: 50px;
}

.user-details-table-headings-box th {
    width: 300px;
}

.user-details-camera-table-headings-box th {
    width: 300px;
}

.profile-details {
    padding-top: 0px;
}

div.jumbotron {
    margin-top: 20px;
}

div.home-text {
    margin-top: 20px;
}